<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BasicSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="BasicTest">
        <packages>
            <package name="org.bookcart"/>
        </packages>
    </test>

    <test name="LoginTest">
        <packages>
            <package name="org.bookcart.login"/>
        </packages>
    </test>
</suite>